@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: red;
}

.carta {
  background-color: white;
  border: 5px solid black;
  box-shadow: 10px 10px 15px;
  border-radius: 25px;
  height: 500px;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

#arriba {
  text-align: left;
  font-size: 4em;
  padding-left: 5px;
}

#medio {
  margin-top: 20px;
  text-align: center;
  font-size: 8em;
}

#boton {
  text-align: right;
  padding-right: 5px;
  font-size: 4em;
  margin-top: 90px;
}
